.about {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.descriptionSection {
    width: 50%
}

.descriptionSection .title {
    font-size: 30px;
    font-weight: 500;
}

.descriptionSection .description {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta .btn {
    display: inline;
    padding: 5px;
    border: 2px solid #000;
    margin-right: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.cta .active {
    background-color: #000;
    color: #ffffff;
}

.imageSection {
    width: 50%;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageSection img {
    width: 49%;
    height: 100%;
}