/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Russo+One&family=Tilt+Warp&display=swap');
* {
    font-size: calc(5px + 2vmin);
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
   

}
*/

.split_me1 {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    margin-left: 10px;
    gap: 30px;
    /* flex-direction: row-reverse; */
}

.one_1 {
    /* border: 1px solid; */
    width: 4%;
    display: flex;
    justify-content: center;
}

.one_1 ul {
    height: 100px;
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
    padding: 15px;
    color: #ffffff;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.one_1 ul li {
    list-style-type: none;
    width: 100%;
    /* padding-bottom: 35px; */
}

.one_2 ul {
    background-color: #cccccc59;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding: 15px;
    color: #000000;
    font-weight: 900;
}

.one_2 ul li {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding-bottom: 35px; */
}

.one_2 {
    /* border: 1px solid; */
    width: 45%;
}

.header11 {
    font-size: xx-large;
    margin-bottom: 30px;
}

.sub_header11 {
    margin-bottom: 20px;
    font-size: x-large;
    text-align: center;
}

.tile {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.topic_me {
    font-weight: 500;
}

.sub_me {
    font-size: small;
}

.p2 {
    text-align: center;
}

.location {
    width: 45%;
    display: flex;
    padding-left: 85px;
    padding-right: 85px;
    /* border: 1px solid; */
}

.place {
    width: 100%;
    height: 80%;
    display: flex;
}

.center1 {
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    height: 500px;
    display: flex;
}


/* .center1 p,
span {
    font-size: 30px !important;
} */

.icony:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.loadings {
    /* border: 1px solid; */
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d {
    width: 50px !important;
    height: 50px !important;
    border-bottom-color: #000 !important;
}

.nony {
    color: #000000;
    font-weight: 700;
    font-size: medium;
}

.h {
    text-align: center;
}

.dash_sub_topics {
    padding: 10px;
    color: #000000;
    width: fit-content;
    margin-bottom: 10px;
    font-weight: 600;
}