    .filters {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .filters .filter ul {
        padding: 0;
    }
    
    .filters .filter ul li {
        display: inline;
        margin: 20px;
        background-color: #cccccc6e;
        padding: 10px;
        font-weight: 700;
        border-radius: 24px;
    }
    
    .filters .filter ul li select {
        outline: none;
        border: none;
        font-weight: 700;
        text-align: center;
        background-color: transparent
    }
    
    .ml-none {
        margin-left: 0 !important;
    }
    
    .sortby {
        display: inline;
        margin: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 24px;
        box-shadow: rgba(22, 17, 17, 0.05) 0px 0px 0px 1px;
        display: flex;
    }
    
    .sortby input {
        outline: none;
        border: none;
        font-weight: 700;
        text-align: center;
        background-color: transparent;
        margin-right: 0 !important;
    }
    
    option {
        border-radius: 1px solid;
        padding: 5px;
        background-color: #ccc;
    }