footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid #cccccc80;
}

footer ul {
    margin: 0;
    padding: 0;
    margin: 70px;
}

footer ul li {
    list-style: none;
    display: inline;
    font-weight: 600;
    font-size: 25px;
    padding: 25px;
}

footer p {
    margin-bottom: 0px;
}

.other {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.other .email {
    display: flex;
    background-color: #cccccc80;
    /* border-radius: 24px; */
    padding-left: 15px;
}

.other .email .btn {
    padding: 10px;
    background-color: #000;
    /* border-radius: 24px; */
    color: white;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}

.other .email input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.copyWright {
    font-weight: 600;
}

.links a {
    color: black;
}

.some_links {
    width: 100%;
    list-style-type: none;
}

.some_links ul {
    display: block;
    margin-left: 0px !important;
}

.some_links ul li {
    display: block;
    padding: 10px;
}

.some_links ul li:first-child {
    font-weight: 900;
    font-size: large;
}

.some_links ul li {
    font-size: large;
}