.container {
    margin-left: 90px;
    margin-right: 90px;
    position: relative;
}

.topic {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}

.coverIt {
    height: 20px;
    width: 100%;
    position: relative;
    top: 48px;
    z-index: 999;
    background-color: wheat;
    position: fixed;
}