.conta {
    margin-left: 5px;
    margin-right: 5px;
}

.topic_header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
}

.iconify {
    width: 70px;
    height: 70px;
    background-color: #004225a8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.topic_header .titlepolicy {
    font-weight: 600;
    font-size: 18px;
}

.policy .header201 {
    font-weight: 600;
    font-size: 18px;
}

.topic_header .titlepolicy {
    font-weight: 600;
    font-size: 18px;
}

.policy .header {
    font-weight: 600;
    font-size: 18px;
}

.description12 {
    font-size: large;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.downImpel {
    margin-bottom: 70px;
}

.norms li {
    margin-bottom: 10px;
}