td,
tr,
th {
    padding: 5px;
    text-align: center;
    margin: 0;
}

.colored td,
th {
    background-color: #cccccc81;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}